body{color:#565656;background-color:#f2f2f2}a{color:#d93a1e}button{color:#565656}h1,h3,h4,h5{color:#333}.c-spinner{background-color:#333}.header-map{background-color:#bebebe}.header-map__close{color:#FFF;background-color:#d93a1e}.header-map__close:hover{-moz-box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1);box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1)}.header-map__close:active{-moz-box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1);box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1)}.header-map-toggle{background-color:#FFF}.header-map-toggle:hover{-moz-box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1);box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1)}.header-map-toggle:active{-moz-box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1);box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1)}.header-toolbar-toggle__menu-button{color:#565656;background-color:#FFF}.header-toolbar-toggle__menu-button:hover{-moz-box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1);box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1)}.header-toolbar-toggle__menu-button:active{-moz-box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1);box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1)}.header-mobile-menu{background-color:#d93a1e;border-color:rgba(0,0,0,0.2)}.header-mobile-menu__item-link{color:#FFF}.header-mobile-menu__toggle{color:#FFF}.header-mobile-menu__item--level-0{border-color:rgba(255,255,255,0.1)}.header-mobile-menu__submenu--level-0{background-color:rgba(0,0,0,0.1)}.header-mobile-menu__item--level-1{border-color:rgba(255,255,255,0.1)}.header-background:after{background-color:transparent;background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(242,242,242,0)), to(#f2f2f2));background-image:-webkit-linear-gradient(top, rgba(242,242,242,0), #f2f2f2);background-image:-moz-linear-gradient(top, rgba(242,242,242,0), #f2f2f2);background-image:-o-linear-gradient(top, rgba(242,242,242,0), #f2f2f2);background-image:linear-gradient(to bottom, rgba(242,242,242,0), #f2f2f2)}.main__header{color:#FFF;background-color:rgba(0,0,0,0.8)}.main__title{color:#FFF}.widget__inner{background-color:#FFF;-moz-box-shadow:1px 1px 0 rgba(0,0,0,0.05);-webkit-box-shadow:1px 1px 0 rgba(0,0,0,0.05);box-shadow:1px 1px 0 rgba(0,0,0,0.05)}.widget__title{color:#333}.widget__title-icon{color:#d93a1e}.widget__more{border-color:#f0f0f0}.lsvr-townpress-menu-widget .widget__inner{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.lsvr-townpress-menu-widget__nav{background-color:#d93a1e;border-color:rgba(0,0,0,0.1)}.lsvr-townpress-menu-widget__toggle{color:#FFF}.lsvr-townpress-menu-widget__item--level-0{border-color:rgba(255,255,255,0.1)}.lsvr-townpress-menu-widget__item-link--level-0{color:#FFF}.lsvr-townpress-menu-widget__item--level-0.menu-item-has-children:after{color:#FFF}@media (min-width: 992px){.lsvr-townpress-menu-widget__submenu--level-0{background-color:#FFF;-moz-box-shadow:1px 1px 0 rgba(0,0,0,0.05);-webkit-box-shadow:1px 1px 0 rgba(0,0,0,0.05);box-shadow:1px 1px 0 rgba(0,0,0,0.05)}.lsvr-townpress-menu-widget__item--level-1{border-color:#f0f0f0}.lsvr-townpress-menu-widget__item--level-1.menu-item-has-children:after{color:#8a949b}.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-item>.lsvr-townpress-menu-widget__submenu,.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-ancestor>.lsvr-townpress-menu-widget__submenu{background-color:transparent;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-item>.lsvr-townpress-menu-widget__submenu--level-0,.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-ancestor>.lsvr-townpress-menu-widget__submenu--level-0{background-color:rgba(0,0,0,0.1)}.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-item>.lsvr-townpress-menu-widget__submenu>.lsvr-townpress-menu-widget__item,.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-ancestor>.lsvr-townpress-menu-widget__submenu>.lsvr-townpress-menu-widget__item{border-color:rgba(255,255,255,0.1)}.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-item>.lsvr-townpress-menu-widget__submenu>.lsvr-townpress-menu-widget__item.menu-item-has-children:after,.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-ancestor>.lsvr-townpress-menu-widget__submenu>.lsvr-townpress-menu-widget__item.menu-item-has-children:after{color:#FFF}.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-item>.lsvr-townpress-menu-widget__submenu>.lsvr-townpress-menu-widget__item>.lsvr-townpress-menu-widget__item-link,.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-ancestor>.lsvr-townpress-menu-widget__submenu>.lsvr-townpress-menu-widget__item>.lsvr-townpress-menu-widget__item-link{color:#FFF}.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-item.lsvr-townpress-menu-widget__item--level-1 .lsvr-townpress-menu-widget__item-link,.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-ancestor.lsvr-townpress-menu-widget__item--level-1 .lsvr-townpress-menu-widget__item-link{color:#FFF}}.lsvr-townpress-weather-widget__weather,.lsvr-townpress-weather-widget__weather-item,.lsvr-townpress-weather-widget__text{border-color:#f0f0f0}.lsvr-townpress-weather-widget--has-background .widget__inner{color:#FFF;background-color:#333}.lsvr-townpress-weather-widget--has-background .widget__title{color:#FFF}.lsvr-townpress-weather-widget--has-background .widget__title-icon{color:#FFF}.lsvr-townpress-weather-widget--has-background a{color:#FFF}.lsvr-townpress-weather-widget--has-background .lsvr-townpress-weather-widget__weather-spinner{background-color:#FFF}.lsvr-townpress-weather-widget--has-background .lsvr-townpress-weather-widget__time{border-color:rgba(255,255,255,0.2)}.lsvr-townpress-weather-widget--has-background .lsvr-townpress-weather-widget__time-title{color:#FFF}.lsvr-townpress-weather-widget--has-background .lsvr-townpress-weather-widget__weather,.lsvr-townpress-weather-widget--has-background .lsvr-townpress-weather-widget__weather-item{border-color:rgba(255,255,255,0.2)}.lsvr-townpress-weather-widget--has-background .lsvr-townpress-weather-widget__weather-item-title,.lsvr-townpress-weather-widget--has-background .lsvr-townpress-weather-widget__weather-item-date{color:#FFF}.lsvr-townpress-weather-widget--has-background .lsvr-townpress-weather-widget__text{border-color:rgba(255,255,255,0.2)}.lsvr_notice-list-widget__item{border-color:#f0f0f0}.lsvr_listing-list-widget__item{border-color:#f0f0f0}.lsvr_event-list-widget__item{border-color:#f0f0f0}.lsvr_event-list-widget__item-date-month{color:#FFF;background-color:#d93a1e}.lsvr_event-list-widget__item-date-day{color:#333;background-color:#f0f0f0}.lsvr_document-list-widget__item{border-color:#f0f0f0}.widget_media_image .widget__inner{background-color:transparent;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.footer--has-background:before{background-image:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(rgba(242,242,242,0.9)));background-image:-webkit-linear-gradient(top, #f2f2f2, rgba(242,242,242,0.9));background-image:-moz-linear-gradient(top, #f2f2f2, rgba(242,242,242,0.9));background-image:-o-linear-gradient(top, #f2f2f2, rgba(242,242,242,0.9));background-image:linear-gradient(to bottom, #f2f2f2, rgba(242,242,242,0.9))}.footer-widgets{color:#d7dcdf;background-color:rgba(17,17,17,0.9)}.footer-widgets .widget__inner{background-color:transparent;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.footer-widgets .widget__title{color:#FFF}.footer-widgets .widget__title-icon{color:#d93a1e}.footer-widgets .widget__more{border-color:rgba(255,255,255,0.1)}.footer-widgets a{color:#FFF}.footer-widgets .lsvr-townpress-weather-widget{color:#FFF;background-color:transparent}.footer-widgets .lsvr-townpress-weather-widget .widget__title{color:#FFF}.footer-widgets .lsvr-townpress-weather-widget .widget__title-icon{color:#FFF}.footer-widgets .lsvr-townpress-weather-widget a{color:#FFF}.footer-widgets .lsvr-townpress-weather-widget .lsvr-townpress-weather-widget__weather-spinner{background-color:#FFF}.footer-widgets .lsvr-townpress-weather-widget .lsvr-townpress-weather-widget__time{border-color:rgba(255,255,255,0.1)}.footer-widgets .lsvr-townpress-weather-widget .lsvr-townpress-weather-widget__time-title{color:#FFF}.footer-widgets .lsvr-townpress-weather-widget .lsvr-townpress-weather-widget__weather,.footer-widgets .lsvr-townpress-weather-widget .lsvr-townpress-weather-widget__weather-item{border-color:rgba(255,255,255,0.1)}.footer-widgets .lsvr-townpress-weather-widget .lsvr-townpress-weather-widget__weather-item-title,.footer-widgets .lsvr-townpress-weather-widget .lsvr-townpress-weather-widget__weather-item-date{color:#FFF}.footer-widgets .lsvr-townpress-weather-widget .lsvr-townpress-weather-widget__text{border-color:rgba(255,255,255,0.1)}.footer-widgets .lsvr_notice-list-widget__item{border-color:rgba(255,255,255,0.1)}.footer-widgets .lsvr_listing-list-widget__item{border-color:rgba(255,255,255,0.1)}.footer-widgets .lsvr_document-list-widget__item{border-color:rgba(255,255,255,0.1)}.footer-widgets .lsvr_event-list-widget__item{border-color:rgba(255,255,255,0.1)}.footer-bottom{background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(242,242,242,0.9)), to(#f2f2f2));background-image:-webkit-linear-gradient(top, rgba(242,242,242,0.9), #f2f2f2);background-image:-moz-linear-gradient(top, rgba(242,242,242,0.9), #f2f2f2);background-image:-o-linear-gradient(top, rgba(242,242,242,0.9), #f2f2f2);background-image:linear-gradient(to bottom, rgba(242,242,242,0.9), #f2f2f2)}.footer-social__link{color:#FFF;background-color:#d93a1e}.footer-social__link:hover{-moz-box-shadow:inset 0 0 0 50px rgba(255,255,255,0.1);-webkit-box-shadow:inset 0 0 0 50px rgba(255,255,255,0.1);box-shadow:inset 0 0 0 50px rgba(255,255,255,0.1)}.footer-social__link--facebook{background-color:#3b5998}.footer-social__link--twitter{background-color:#55acee}.footer-social__link--youtube{background-color:#e52d27}@media (max-width: 991px){.lsvr-townpress-menu-widget__item{border-color:rgba(255,255,255,0.1)}.lsvr-townpress-menu-widget__item-link{color:#FFF}.lsvr-townpress-menu-widget__submenu--level-0{background-color:rgba(0,0,0,0.1)}}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}


aside,
footer,
header,
nav {
	display: block
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}


main {
	display: block
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

a:active,
a:hover {
	outline-width: 0
}

b,
strong {
	font-weight: inherit
}

b,
strong {
	font-weight: bolder
}

small {
	font-size: 80%
}

img {
	border-style: none
}

button {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button {
	overflow: visible
}

button {
	text-transform: none
}


button,
html [type=button] {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}


menu {
	display: block
}

.lsvr-container {
	margin: 0 auto;
	padding: 0 30px;
	width: 100%;
	max-width: 1400px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.lsvr-grid {
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.lsvr-grid:after,
.lsvr-grid:before {
	content: "";
	display: table;
	clear: both
}

.lsvr-grid__col {
	position: relative;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}


.lsvr-grid--4-cols>.lsvr-grid__col:nth-child(4n+1) {
	clear: left
}

.lsvr-grid__col--span-3 {
	width: 24.999%
}

.lsvr-grid__col--span-6 {
	width: 49.998%
}

.lsvr-grid__col--push-3 {
	left: 24.999%
}

.lsvr-grid__col--pull-6 {
	left: -49.998%
}

@media (max-width:991px) {
	.lsvr-grid__col {
		float: none
	}

	
	.lsvr-grid__col--span-3,
	.lsvr-grid__col--span-6 {
		width: 100%
	}

	
	.lsvr-grid--4-cols>.lsvr-grid__col:nth-child(4n+1) {
		clear: none
	}

	
	.lsvr-grid__col--push-3 {
		left: auto;
		right: auto
	}

	
	.lsvr-grid__col--pull-6 {
		left: auto;
		right: auto
	}
}

@media (min-width:992px) and (max-width:1199px) {

	.lsvr-grid__col--lg-span-6 {
		float: left;
		width: 49.998%
	}
}

@media (min-width:768px) and (max-width:991px) {

	.lsvr-grid__col--md-span-6 {
		float: left;
		width: 49.998%
	}

	
	.lsvr-grid--md-2-cols>.lsvr-grid__col:nth-child(odd) {
		clear: left
	}
}

@media (min-width:481px) and (max-width:767px) {

	
	.lsvr-grid--md-2-cols>.lsvr-grid__col:nth-child(odd) {
		clear: none
	}
}

@media (max-width:480px) {
	.lsvr-container {
		padding: 0 20px
	}
}

@font-face {
	font-family: "townpress-icons";
	src: url("../fonts/townpress-icons.eot?v1fc62");
	src: url("../fonts/townpress-icons.eot?v1fc62#iefix") format("embedded-opentype"), url("../fonts/townpress-icons.ttf?v1fc62") format("truetype"), url("../fonts/townpress-icons.woff?v1fc62") format("woff"), url("../fonts/townpress-icons.svg?v1fc62#townpress-icons") format("svg");
	font-weight: normal;
	font-style: normal
}

[class*=" icon-"],
[class^=icon-] {
	font-family: "townpress-icons" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-x:before {
	content: "\e95f"
}

.icon-calendar-full:before {
	content: "\e908"
}

.icon-cloud-sun:before {
	content: "\e91a"
}

.icon-image:before {
	content: "\e92a"
}

.icon-map-marker:before {
	content: "\e92f"
}

.icon-bullhorn:before {
	content: "\e949"
}

.icon-envelope-o:before {
	content: "\f003"
}

.icon-facebook:before {
	content: "\f09a"
}

.icon-youtube:before {
	content: "\f167"
}

.icon-file-text-o:before {
	content: "\f0f6"
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1
	}

	to {
		opacity: 0
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}

	to {
		opacity: 0
	}
}

#wrapper {
	position: relative
}

body {
	margin: 0;
	font-size: 16px;
	font-family: "Arial", sans-serif;
	font-weight: 400;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

a {
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms
}

a,
a:active,
a:hover {
	text-decoration: none;
	outline: none
}

a:hover {
	text-decoration: underline
}

address {
	margin-bottom: 24px
}

button {
	background: none;
	cursor: pointer;
	outline: 0;
	border: 0;
	-webkit-transition: all 150ms;
	-moz-transition: all 150ms;
	-ms-transition: all 150ms;
	-o-transition: all 150ms;
	transition: all 150ms
}

em {
	font-style: italic
}

img {
	max-width: 100%;
	height: auto
}

p {
	line-height: 1.5em;
	margin: 0 0 24px 0
}

strong {
	font-weight: bold
}

var {
	font-style: italic
}

h1,
h3,
h4,
h5 {
	margin: 0 0 24px 0;
	line-height: 1.2em;
	font-weight: bold
}

h1 {
	font-size: 1.875em
}

h3 {
	font-size: 1.125em
}

h4 {
	font-size: 1.125em;
	font-size: normal
}

h5 {
	font-size: 1em;
	font-size: normal
}

ul {
	margin: 0 0 24px 0;
	padding: 0 0 0 20px;
	list-style: disc outside
}

li {
	margin-bottom: 7px;
	line-height: 1.5em
}


ul ul {
	margin: 10px 0 10px 30px
}

.accessibility-link:focus {
	display: block;
	position: fixed;
	top: 10px;
	left: 10px;
	padding: 15px 20px;
	height: auto;
	width: auto;
	overflow: auto;
	clip: auto;
	/* z-index: 1000; */
	background: #FFF;
	color: #000
}

.c-spinner {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	-webkit-animation: lsvr-townpress-scaleout 1s infinite ease-in-out;
	animation: lsvr-townpress-scaleout 1s infinite ease-in-out
}

@-webkit-keyframes lsvr-townpress-scaleout {
	0% {
		-webkit-transform: scale(0)
	}

	to {
		-webkit-transform: scale(1);
		opacity: 0
	}
}

@keyframes lsvr-townpress-scaleout {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0)
	}

	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0
	}
}

#header {
	position: relative;
	z-index: 3
}

.header-map {
	display: none;
	position: relative;
	height: 400px;
	z-index: 3
}

.header-map .c-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -15px;
	z-index: 4
}

.header-map__canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 2
}

.header-map__close {
	display: block;
	position: absolute;
	top: 10px;
	right: 50px;
	padding: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	z-index: 3
}

.header-map__close-ico {
	position: relative;
	top: 2px;
	font-size: 20px
}

.header__content {
	position: relative;
	z-index: 2
}

.header__content-inner {
	position: relative;
	padding: 30px 0;
	min-height: 40px
}

.header-logo {
	display: inline-block;
	width: 100%
}

.header-toolbar {
	position: absolute;
	top: 30px;
	right: 0
}

.header-toolbar:after,
.header-toolbar:before {
	display: table;
	clear: both;
	height: 0;
	content: "";
	visibility: hidden
}

.header-toolbar__item {
	float: left;
	margin-left: 20px
}

.header-map-toggle {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase
}

.header-map-toggle__label {
	line-height: 40px;
	vertical-align: top
}

.header-toolbar-toggle {
	-webkit-transition: margin, 300ms;
	-moz-transition: margin, 300ms;
	-ms-transition: margin, 300ms;
	-o-transition: margin, 300ms;
	transition: margin, 300ms;
	display: none;
	position: relative;
	margin-top: 30px
}

.header-toolbar-toggle--has-map {
	padding-right: 50px
}

.header-toolbar-toggle__menu-button {
	padding: 0 10px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top
}

.header-toolbar-toggle__menu-button-label {
	display: inline-block;
	vertical-align: top
}

.header-map-toggle--mobile {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	text-align: center
}

.header-map-toggle--mobile .header-map-toggle__label {
	display: none
}

.header-mobile-menu {
	display: none;
	margin-top: 12px;
	padding: 5px 20px;
	border-top: 3px solid transparent
}

.header-mobile-menu__list,
.header-mobile-menu__submenu {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.header-mobile-menu__item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
	position: relative
}

.header-mobile-menu__item-link {
	position: relative
}

.header-mobile-menu__item-link:hover {
	text-decoration: none
}

.header-mobile-menu__item-link:hover .header-mobile-menu__item-link-label {
	text-decoration: underline
}

.current-menu-ancestor>.header-mobile-menu__item-link,
.current-menu-item>.header-mobile-menu__item-link {
	font-weight: bold
}

.header-mobile-menu__submenu {
	display: none
}

.header-mobile-menu__toggle {
	position: absolute;
	display: block;
	top: 2px;
	right: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	font-size: 18px
}

.header-mobile-menu__toggle-icon {
	font-family: "townpress-icons" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.header-mobile-menu__toggle-icon:before {
	content: "\f107"
}

.header-mobile-menu__item--level-0 {
	border-top: 1px solid transparent
}

.header-mobile-menu__item--level-0:first-child {
	border: 0
}

.header-mobile-menu__item-link--level-0 {
	display: block;
	padding: 7px 25px 7px 0;
	text-transform: uppercase
}

.header-mobile-menu__submenu--level-0 {
	margin: 0 -20px;
	padding: 5px 20px 5px 20px;
	font-size: 0.875em
}

.header-mobile-menu__item--level-1 {
	border-top: 1px solid transparent
}

.header-mobile-menu__item--level-1:first-child {
	border: 0
}

.header-mobile-menu__item-link--level-1 {
	display: block;
	padding: 7px 25px 7px 0
}

.header-background {
	-webkit-transition: top 100ms;
	-moz-transition: top 100ms;
	-ms-transition: top 100ms;
	-o-transition: top 100ms;
	transition: top 100ms;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 500px;
	z-index: 1;
	overflow: hidden;
	z-index: 2;
	transition-timing-function: linear
}

.header-background:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 300px;
	z-index: 2;
	-webkit-transition: height 300ms;
	-moz-transition: height 300ms;
	-ms-transition: height 300ms;
	-o-transition: height 300ms;
	transition: height 300ms
}

.header-background__image {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center 0;
	z-index: 1
}

.header-background__image--default {
	display: block
}



.main__header {
	position: relative;
	margin: 0 0 24px 0;
	padding: 0 30px 24px 30px
}

.main__title {
	margin: 0;
	padding: 24px 0 0 0
}

.main__title em {
	font-weight: normal
}

.widget {
	margin: 24px 0;
	font-size: 0.875em
}

.widget:first-child {
	margin-top: 0
}

.widget__inner {
	padding: 20px
}


.widget__title {
	position: relative;
	padding: 20px 20px 15px 20px;
	margin: -20px -20px 0 -20px;
	font-size: 1.143em;
	font-weight: bold;
	text-transform: uppercase
}

.widget__title--has-icon {
	padding-left: 50px
}

.widget__title-icon {
	position: absolute;
	left: 20px;
	top: 19px;
	font-size: 20px
}

.widget__more {
	margin: 12px 0 0 0;
	padding-top: 7px;
	border-top: 1px solid transparent
}

.widget__more-link {
	font-size: 0.875em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

.lsvr-townpress-menu-widget {
	font-size: 1em
}

.lsvr-townpress-menu-widget .widget__inner {
	padding: 0
}

.lsvr-townpress-menu-widget .widget__title {
	margin: 0
}

.lsvr-townpress-menu-widget__nav {
	position: relative;
	padding: 7px 20px;
	border-top: 5px solid transparent
}

.lsvr-townpress-menu-widget__list,
.lsvr-townpress-menu-widget__submenu {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.lsvr-townpress-menu-widget__submenu {
	display: none;
	z-index: 3
}

.lsvr-townpress-menu-widget__item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
	position: relative
}

.lsvr-townpress-menu-widget__item-link {
	display: block;
	position: relative
}

.current-menu-ancestor>.lsvr-townpress-menu-widget__item-link,
.current-menu-item>.lsvr-townpress-menu-widget__item-link {
	font-weight: bold
}

.lsvr-townpress-menu-widget__item-link:hover .lsvr-townpress-menu-widget__item-link-label {
	text-decoration: underline
}

.lsvr-townpress-menu-widget__toggle {
	display: none;
	position: absolute;
	top: 2px;
	right: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	font-size: 18px
}

.lsvr-townpress-menu-widget__toggle-icon {
	font-family: "townpress-icons" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.lsvr-townpress-menu-widget__toggle-icon:before {
	content: "\f107"
}

.lsvr-townpress-menu-widget__item--level-0 {
	border-top: 1px solid transparent
}

.lsvr-townpress-menu-widget__item--level-0:first-child {
	border: 0
}

.lsvr-townpress-menu-widget__item-link--level-0 {
	padding: 7px 0;
	text-transform: uppercase
}

.menu-item-has-children>.lsvr-townpress-menu-widget__item-link--level-0 {
	padding-right: 20px
}

.lsvr-townpress-menu-widget__item--level-0.menu-item-has-children:after {
	font-family: "townpress-icons" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f105";
	position: absolute;
	top: 10px;
	right: 5px;
	font-size: 14px
}

@media (min-width:992px) {
	.lsvr-townpress-menu-widget__submenu--level-0 {
		font-size: 0.875em
	}

	.lsvr-townpress-menu-widget__submenu--level-0 {
		position: absolute;
		left: 100%;
		top: 0;
		padding: 5px 15px;
		width: 220px;
		z-index: 3
	}

	.lsvr-townpress-menu-widget__item--level-1 {
		border-top: 1px solid transparent
	}

	.lsvr-townpress-menu-widget__item--level-1:first-child {
		border: 0
	}

	.lsvr-townpress-menu-widget__item--level-1.menu-item-has-children:after {
		font-family: "townpress-icons" !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\f105";
		position: absolute;
		top: 10px;
		right: 5px;
		font-size: 14px
	}

	.lsvr-townpress-menu-widget__item-link--level-1 {
		padding: 7px
	}

	.columns__sidebar--right .lsvr-townpress-menu-widget__submenu--level-0 {
		left: auto;
		right: 100%
	}

	.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-ancestor.lsvr-townpress-menu-widget__item.menu-item-has-children:after,
	.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-item.lsvr-townpress-menu-widget__item.menu-item-has-children:after {
		display: none
	}

	.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-ancestor>.lsvr-townpress-menu-widget__submenu,
	.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-item>.lsvr-townpress-menu-widget__submenu {
		display: block;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		width: auto;
		z-index: 2
	}

	.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-ancestor>.lsvr-townpress-menu-widget__submenu--level-0,
	.lsvr-townpress-menu-widget__nav--expanded-active .current-menu-item>.lsvr-townpress-menu-widget__submenu--level-0 {
		margin: 0 -20px;
		padding: 0 20px 10px 20px
	}
}

.lsvr-townpress-weather-widget--has-background .widget__inner {
	background-position: center top;
	background-size: cover
}

.lsvr-townpress-weather-widget__weather-spinner {
	display: block;
	margin: 0 auto
}

.lsvr-townpress-weather-widget__time:after,
.lsvr-townpress-weather-widget__time:before {
	display: table;
	clear: both;
	height: 0;
	content: "";
	visibility: hidden
}

.lsvr-townpress-weather-widget__time-title {
	float: left;
	margin: 0;
	padding-top: 2px;
	width: 50%;
	font-size: 1em
}

.lsvr-townpress-weather-widget__time-value {
	float: right;
	margin: 0;
	width: 50%;
	line-height: 1em;
	font-size: 1.286em;
	text-align: right
}

.lsvr-townpress-weather-widget__weather {
	margin-top: 7px;
	padding-top: 7px;
	border-top: 1px solid transparent
}

.lsvr-townpress-weather-widget__weather:first-child {
	margin-top: 0;
	padding-top: 0;
	border: 0
}

.lsvr-townpress-weather-widget__weather-list {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.lsvr-townpress-weather-widget__weather-item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
	margin-top: 7px;
	padding-top: 7px;
	border-top: 1px solid transparent
}

.lsvr-townpress-weather-widget__weather-item:after,
.lsvr-townpress-weather-widget__weather-item:before {
	display: table;
	clear: both;
	height: 0;
	content: "";
	visibility: hidden
}

.lsvr-townpress-weather-widget__weather-item:first-child {
	margin-top: 0;
	padding-top: 0;
	border: 0
}

.lsvr-townpress-weather-widget__weather-item-labels {
	float: left;
	width: 50%
}

.lsvr-townpress-weather-widget__weather-item-title {
	margin: 0;
	font-size: 1em;
	text-transform: capitalize
}

.lsvr-townpress-weather-widget__weather-item-date {
	margin: 2px 0 0 0;
	font-size: 0.875em;
	font-weight: normal
}

.lsvr-townpress-weather-widget__weather-item-values {
	position: relative;
	float: right;
	width: 50%;
	text-align: right
}

.lsvr-townpress-weather-widget__weather-item-icon {
	position: absolute;
	top: 5px;
	right: 60px;
	font-size: 24px
}

.lsvr-townpress-weather-widget__weather-item-temperature {
	font-size: 1.286em;
	font-weight: bold
}

.lsvr-townpress-weather-widget__weather-item-wind {
	font-size: 0.875em
}

.lsvr-townpress-weather-widget__text {
	margin-top: 7px;
	padding-top: 7px;
	border-top: 1px solid transparent
}

.lsvr-townpress-weather-widget__text p {
	margin: 12px 0 0 0;
	line-height: 1.3em
}

.lsvr-townpress-weather-widget__text p:first-child {
	margin: 0
}

.lsvr_notice-list-widget__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 0
}

.lsvr_notice-list-widget__item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
	position: relative;
	margin: 7px 0 0 0;
	padding-top: 7px;
	border-top: 1px solid transparent
}

.lsvr_notice-list-widget__item:first-child {
	margin: 0;
	padding: 0;
	border: 0
}

.lsvr_notice-list-widget__item-title {
	margin: 0;
	font-size: 1em;
	font-weight: bold
}

.lsvr_notice-list-widget__item-meta {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 2px 0 0 0;
	font-size: 0.875em
}

.lsvr_notice-list-widget__item-meta-item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
	display: inline
}

.lsvr_notice-list-widget__item-meta-item--date {
	white-space: nowrap
}

.lsvr_listing-list-widget__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 0
}

.lsvr_listing-list-widget__item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: 12px 0 0 0;
	padding-top: 12px;
	border-top: 1px solid transparent
}

.lsvr_listing-list-widget__item:first-child {
	margin-top: 0;
	padding-top: 0;
	border: 0
}

.lsvr_listing-list-widget__item--has-thumb {
	padding-left: 95px;
	min-height: 95px
}

.lsvr_listing-list-widget__item--has-thumb:first-child {
	min-height: 80px
}

.lsvr_listing-list-widget__item-thumb {
	position: absolute;
	left: 0;
	top: 12px;
	width: 80px
}

.lsvr_listing-list-widget__item:first-child .lsvr_listing-list-widget__item-thumb {
	top: 0
}

.lsvr_listing-list-widget__item-thumb-link:hover {
	opacity: 0.9
}

.lsvr_listing-list-widget__item-thumb img {
	display: block
}

.lsvr_listing-list-widget__item-title {
	margin: 0 0 10px 0;
	font-size: 1em
}

.lsvr_listing-list-widget__item-title-link {
	text-decoration: none
}

.lsvr_listing-list-widget__item-title-link:hover {
	text-decoration: underline
}

.lsvr_listing-list-widget__item-address {
	margin: 10px 0 0 0
}

.lsvr_listing-list-widget__item-category {
	display: block;
	margin: 5px 0 0 0
}

.lsvr_event-list-widget__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 0
}

.lsvr_event-list-widget__item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: 12px 0 0 0;
	padding-top: 12px;
	border-top: 1px solid transparent
}

.lsvr_event-list-widget__item:first-child {
	margin-top: 0;
	padding-top: 0;
	border: 0
}

.lsvr_event-list-widget__item--has-thumb {
	padding-left: 95px;
	min-height: 95px
}

.lsvr_event-list-widget__item--has-thumb:first-child {
	min-height: 80px
}

.lsvr_event-list-widget__item-title {
	margin: 0;
	font-size: 1em;
	font-weight: bold
}

.lsvr_event-list-widget__item-title-link {
	text-decoration: none
}

.lsvr_event-list-widget__item-title-link:hover {
	text-decoration: underline
}

.lsvr_event-list-widget__item-info {
	margin: 0;
	font-size: 0.875em
}

.lsvr_event-list-widget__item-date {
	margin: 0;
	font-weight: bold;
	white-space: nowrap
}

.lsvr_event-list-widget__item-location,
.lsvr_event-list-widget__item-time {
	display: block
}

.lsvr_event-list-widget__list--has-bold-date .lsvr_event-list-widget__item {
	padding-left: 60px;
	min-height: 48px
}

.lsvr_event-list-widget__item-date--bold {
	position: absolute;
	top: 12px;
	left: 0;
	width: 45px;
	text-align: center
}

.lsvr_event-list-widget__item:first-child .lsvr_event-list-widget__item-date--bold {
	top: 0
}

.lsvr_event-list-widget__item-date-month {
	display: block;
	line-height: 18px;
	font-size: 0.75em;
	font-weight: bold;
	text-transform: uppercase
}

.lsvr_event-list-widget__item-date-day {
	display: block;
	padding: 4px 0;
	font-size: 1.125em
}

.lsvr_gallery-featured-widget .widget__inner {
	padding-left: 0;
	padding-right: 0
}

.lsvr_gallery-featured-widget .widget__title {
	margin-left: 0;
	margin-right: 0
}

.lsvr_gallery-featured-widget__thumb {
	margin: 0
}

.lsvr_gallery-featured-widget__thumb-link {
	display: block
}

.lsvr_gallery-featured-widget__thumb-link:hover {
	opacity: 0.9
}

.lsvr_gallery-featured-widget__thumb img {
	display: block
}

.lsvr_gallery-featured-widget__content-inner {
	padding: 20px 20px 0 20px
}

.lsvr_gallery-featured-widget__title {
	margin: 0 0 12px 0;
	font-size: 1.125em
}

.lsvr_gallery-featured-widget__date {
	margin: 0;
	white-space: nowrap
}

.lsvr_document-list-widget__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 0
}

.lsvr_document-list-widget__item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
	margin: 7px 0 0 0;
	padding: 7px 0 0 0;
	border-top: 1px solid transparent
}

.lsvr_document-list-widget__item:first-child {
	margin: 0;
	padding: 0;
	border: 0
}

.lsvr_document-list-widget__item-title {
	margin: 0;
	font-size: 1em;
	font-weight: bold
}

.lsvr_document-list-widget__item-title-link {
	text-decoration: none
}

.lsvr_document-list-widget__item-title-link:hover {
	text-decoration: underline
}

.lsvr_document-list-widget__item-info {
	margin: 2px 0 0 0;
	font-size: 0.875em
}

.lsvr_document-list-widget__item-date {
	display: inline-block;
	margin: 0 10px 0 0;
	whitespace: nowrap
}

.widget_media_image .widget__inner {
	padding: 0
}

.widget_media_image .widget__inner a:hover {
	opacity: 0.9
}

.widget_media_image .widget__inner img {
	display: block
}

.widget_text p {
	margin: 24px 0 0 0
}

.widget_text p:first-child {
	margin-top: 0
}

/* #footer {
	position: relative;
	z-index: 10;
	background-position: center 0;
	background-size: cover
} */

.footer--has-background {
	margin-top: -100px;
	padding-top: 100px
}

.footer--has-background:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100px
}

.footer-widgets__inner {
	padding: 48px 0 0 0
}

.footer-widgets .widget {
	margin: 0 0 48px 0
}

.footer-widgets .widget__inner {
	padding: 0
}


.footer-widgets .widget__title {
	position: relative;
	margin: 0 0 24px 0;
	padding: 0;
	font-weight: bold;
	text-transform: uppercase
}

.footer-widgets .widget__title--has-icon {
	padding-left: 30px
}

.footer-widgets .widget__title-icon {
	position: absolute;
	top: 0;
	left: -1px;
	font-size: 20px
}

.footer-widgets .lsvr-townpress-weather-widget--has-background .widget__inner {
	padding: 20px
}

.footer-bottom {
	position: relative
}

.footer-bottom__inner {
	position: relative;
	padding: 24px 0 40px
}

.footer-bottom__inner:after,
.footer-bottom__inner:before {
	display: table;
	clear: both;
	height: 0;
	content: "";
	visibility: hidden
}

.footer-social {
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center
}

.footer-social__list {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.footer-social__item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
	display: inline-block;
	margin: 0 2px
}

.footer-social__link {
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	font-size: 18px;
	text-align: center;
	border-radius: 50%
}

.footer-social__link:hover {
	text-decoration: none
}

.footer-menu {
	float: right;
	width: 45%;
	font-size: 0.875em;
	text-align: right
}

.footer-menu__list {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.footer-menu__list>li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
	display: inline-block;
	margin: 0 0 3px 14px
}

.footer-text {
	float: left;
	width: 45%;
	line-height: 1.3em;
	font-size: 0.75em
}

.footer-text p {
	margin: 0
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden
}

@media (max-width:991px) {

	.header-logo {
		display: block;
		margin: auto
	}

	.header-toolbar {
		position: relative;
		top: auto;
		right: auto
	}

	.header-toolbar {
		display: none
	}

	.header-toolbar-toggle {
		display: block
	}

	.header-toolbar__item {
		float: none;
		margin: 0
	}

	.header-mobile-menu {
		display: block;
		clear: both
	}

	.header-map-toggle--desktop {
		display: none
	}

	.columns__sidebar .widget {
		max-width: 600px
	}

	.lsvr-townpress-menu-widget {
		display: none
	}

	.lsvr-townpress-menu-widget__item--level-0.menu-item-has-children:after {
		display: none
	}

	.lsvr-townpress-menu-widget__item--level-1 {
		border-top: 1px solid transparent
	}

	.lsvr-townpress-menu-widget__item--level-1:first-child {
		border: 0
	}

	.lsvr-townpress-menu-widget__item-link--level-1 {
		padding: 7px
	}

	.lsvr-townpress-menu-widget__submenu--level-0 {
		margin: 0 -20px;
		padding: 0 20px 10px 20px;
		font-size: 0.875em
	}

	.lsvr-townpress-menu-widget__toggle {
		display: block
	}
}

@media (max-width:767px) {

	.footer-menu,
	.footer-text {
		float: none;
		width: auto;
		text-align: center
	}

	.footer-menu {
		margin: 0 0 12px 0
	}

	.footer-menu__list>li {
		margin: 0 7px 3px 7px
	}
}

@media (max-width:480px) {

	.lsvr-container {
		padding: 0 10px
	}

	.lsvr-grid {
		margin-left: -10px;
		margin-right: -10px
	}

	.lsvr-grid__col {
		padding-left: 10px;
		padding-right: 10px
	}

	.footer-widgets__inner {
		padding-left: 10px;
		padding-right: 10px
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}


/* Yellow Pen CSS Statrt */

body,
button {
	font-family: 'Source Sans Pro', Arial, sans-serif;
}

html,
body {
	font-size: 16px;
}

.header-logo {
	max-width: 140px;
}

.header-logo--front {
	max-width: 200px;
}

@media (max-width: 991px) {
	.header-logo {
		max-width: 140px;
	}
}


.header-background__image {
	background-color: rgba(7, 7, 7, 0.77);
	background-size: auto;
	background-blend-mode: multiply;
}



#header .header__content {
	height: 170px;
}


@media (max-width:991px){
	#header .header__content {
		height: 230px;
	}
}

.header-logo--front .header-logo__link img {
	display: inline-block;
	transform: translatex(0px) translatey(0px) !important;
	width: 150px;
} 

:after,:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

*,:before,:after { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

 a:hover { 
    text-decoration: none !important;
} 

span { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
} 

strong { 
    font-weight: 700;
} 

strong { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
} 

strong { 
    font-weight: bold;
} 


#core{
	/* position: fixed; */
	/* top: 300px; */
	position:relative;
	z-index:10;
   }
   
   /* Modal backUnknown */
   .modal-backdrop{
	z-index:20;
	/* transform:translatex(0px) translatey(0px); */
   }
   
   /* Modal dialog */
   .modal-dialog{
	z-index:30 !important;
   }
   
   a{color:#d93a1e}button{color:#565656}h1{color:#333}
   /*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
   
   
   section {
       display: block
   }
   
   h1 {
       font-size: 2em;
       margin: 0.67em 0
   }
   
   a {
       background-color: transparent;
       -webkit-text-decoration-skip: objects
   }
   
   a:active,
   a:hover {
       outline-width: 0
   }
   
   
   strong {
       font-weight: inherit
   }
   
   
   strong {
       font-weight: bolder
   }
   
   img {
       border-style: none
   }
   
   button {
       font-family: sans-serif;
       font-size: 100%;
       line-height: 1.15;
       margin: 0
   }
   
   button {
       overflow: visible
   }
   
   button {
       text-transform: none
   }
   
   
   button {
       -webkit-appearance: button
   }
   
   [type=button]::-moz-focus-inner,
   button::-moz-focus-inner {
       border-style: none;
       padding: 0
   }
   
   [type=button]:-moz-focusring,
   button:-moz-focusring {
       outline: 1px dotted ButtonText
   }
   
   ::-webkit-file-upload-button {
       -webkit-appearance: button;
       font: inherit
   }
   
   @font-face {
       font-family: "townpress-icons";
       src: url("../fonts/townpress-icons.eot?v1fc62");
       src: url("../fonts/townpress-icons.eot?v1fc62#iefix") format("embedded-opentype"), url("../fonts/townpress-icons.ttf?v1fc62") format("truetype"), url("../fonts/townpress-icons.woff?v1fc62") format("woff"), url("../fonts/townpress-icons.svg?v1fc62#townpress-icons") format("svg");
       font-weight: normal;
       font-style: normal
   }
   
   button::-moz-focus-inner {
       padding: 0;
       border: 0
   }
   
   @-webkit-keyframes fadeOut {
       0% {
           opacity: 1
       }
   
       to {
           opacity: 0
       }
   }
   
   @keyframes fadeOut {
       0% {
           opacity: 1
       }
   
       to {
           opacity: 0
       }
   }
   
   a {
       -webkit-transition: all 200ms;
       -moz-transition: all 200ms;
       -ms-transition: all 200ms;
       -o-transition: all 200ms;
       transition: all 200ms
   }
   
   a,
   a:active,
   a:hover {
       text-decoration: none;
       outline: none
   }
   
   a:hover {
       text-decoration: underline
   }
   
   button {
       background: none;
       cursor: pointer;
       outline: 0;
       border: 0;
       -webkit-transition: all 150ms;
       -moz-transition: all 150ms;
       -ms-transition: all 150ms;
       -o-transition: all 150ms;
       transition: all 150ms
   }
   
   img {
       max-width: 100%;
       height: auto
   }
   
   strong {
       font-weight: bold
   }
   
   h1 {
       margin: 0 0 24px 0;
       line-height: 1.2em;
       font-weight: bold
   }
   
   h1 {
       font-size: 1.875em
   }
   
   @-webkit-keyframes lsvr-townpress-scaleout {
       0% {
           -webkit-transform: scale(0)
       }
   
       to {
           -webkit-transform: scale(1);
           opacity: 0
       }
   }
   
   @keyframes lsvr-townpress-scaleout {
       0% {
           -webkit-transform: scale(0);
           transform: scale(0)
       }
   
       to {
           -webkit-transform: scale(1);
           transform: scale(1);
           opacity: 0
       }
   }
   
   /* #footer {
       position: relative;
       z-index: 10;
       background-position: center 0;
       background-size: cover
   } */
   
   @keyframes spin {
       from {
           transform: rotate(0deg);
       }
   
       to {
           transform: rotate(360deg);
       }
   }
   
   @keyframes blink {
       from {
           opacity: 0;
       }
   
       50% {
           opacity: 1;
       }
   
       to {
           opacity: 0;
       }
   }
   
   
   /* Yellow Pen CSS Statrt */
   
   
   button {
       font-family: 'Source Sans Pro', Arial, sans-serif;
   }
   
   .mdl-card { 
       cursor: pointer; 
       width: auto; 
       min-height: inherit; 
       position: static; 
       overflow: visible; 
       display: block; 
       padding: 5px 25px; 
       box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03);
   } 
   
   .mdl-card { 
       display: -webkit-flex; 
       display: -ms-flexbox; 
       display: flex; 
       -webkit-flex-direction: column; 
       -ms-flex-direction: column; 
       flex-direction: column; 
       font-size: 16px; 
       font-weight: 400; 
       min-height: 160px; 
       overflow: hidden; 
       box-shadow: 0px 1px 2px #6c727ea3; 
       z-index: 1; 
       position: relative; 
       background: #fff; 
       border-radius: 2px; 
       box-sizing: border-box;
   } 
   
   :after,:before { 
       -webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box; 
       box-sizing: border-box;
   } 
   
   *,:before,:after { 
       -webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box; 
       box-sizing: border-box;
   } 
   
    a:hover { 
       text-decoration: none !important;
   } 
   
   span { 
       margin: 0; 
       padding: 0; 
       border: 0; 
       font-size: 100%; 
       font: inherit; 
       vertical-align: baseline;
   } 
   
   #top-line { 
       position: absolute; 
       margin-left: 15%; 
       top: 72%;
   } 
   
   strong { 
       font-weight: 700;
   } 
   
   strong { 
       margin: 0; 
       padding: 0; 
       border: 0; 
       font-size: 100%; 
       font: inherit; 
       vertical-align: baseline;
   } 
   
   strong { 
       font-weight: bold;
   } 
   
   #top-line .chunk  { 
       width: 49px; 
       display: block; 
       float: left; 
       position: relative;
   } 
   
   #top-line .filler  { 
       height: 10px; 
       position: absolute; 
       width: 100%; 
       left: 0; 
       top: 0;
   } 
   
   
   /* These were inline style tags. Uses id+class to override almost everything */
   #style-NJkA2.style-NJkA2 {  
      font-size:1.5em;  
      margin-bottom:9px;  
   }  
   #style-iGLiM.style-iGLiM {  
      font-size: 14px;  
      background-color: #2f89ca;  
       color: white;  
       padding: 4px 10px;  
       width: 55px;  
       margin: 0px auto;  
           text-align: center;  
   }  
   #top-line.style-h84A5 {  
      position:relative;  
      top:6px;  
      margin:auto;  
   }  
   #style-hjjgy.style-hjjgy {  
      background-color:#ff0006;  
       height: 40px;  
   }  
   #style-Vk2dD.style-Vk2dD {  
      background-color:#ffff19;  
       overflow: hidden;  
       height: 40px;  
       background-position: initial initial;  
       background-repeat: initial initial;  
   }  
   #style-VnOPB.style-VnOPB {  
      background-color:#0000fe;  
       height: 40px;  
       overflow: hidden;  
       background-position: initial initial;  
       background-repeat: initial initial;  
   }  
   
   
   /* These were inline style tags. Uses id+class to override almost everything */
   #style-U4EGH.style-U4EGH {  
       font-size:1.5em;  
       margin-bottom:9px;  
    }  
    #style-9ay34.style-9ay34 {  
       font-size: 14px;  
       background-color: #2f89ca;  
        color: white;  
        padding: 4px 10px;  
        width: 55px;  
        margin: 0px auto;  
            text-align: center;  
    }  
    #top-line.style-oo6iY {  
       position:relative;  
       top:6px;  
       marfin:auto;  
    }  
    #style-LdSff.style-LdSff {  
       background-color:#faff98;  
        height: 40px;  
    }  
    #style-tSQyz.style-tSQyz {  
       background-color:#c8ff01;  
        overflow: hidden;  
        height: 40px;  
        background-position: initial initial;  
        background-repeat: initial initial;  
    }  
    #style-jGmEr.style-jGmEr {  
       background-color:#339933;  
        height: 40px;  
        overflow: hidden;  
        background-position: initial initial;  
        background-repeat: initial initial;  
    }  
    /* Lsvr grid */
      
      /* Style */
      #style-LdSff{
       left:18px !important;
       right:auto !important;
       top:1px !important;
      }
      
      /* Style */
      #style-tSQyz{
       transform:translatex(18px) translatey(0px);
      }
      
      /* Style */
      #style-jGmEr{
       transform:translatex(22px) translatey(0px);
       left:-3px !important;
       right:auto !important;
      }
      
   
   /* These were inline style tags. Uses id+class to override almost everything */
   #style-mbLJB.style-mbLJB {  
       color: rgb(86, 86, 86);  
        cursor: pointer;  
    }  
    #style-eg4E2.style-eg4E2 {  
       color: rgb(86, 86, 86);  
        cursor: pointer;  
    }  
    #style-ULjVO.style-ULjVO {  
       color: rgb(37, 38, 39) !important;  
        cursor: pointer;  
    }  
    #style-mO25o.style-mO25o {  
           float: left;  
    }  
    #style-gLZHU.style-gLZHU {  
       position: absolute;  
       bottom: 1px;  
       font-size: 10px;  
       background-color: #2f89ca;  
       color: white;  
       padding: 2px 10px;  
       right: 0px;  
    }  
    #style-mgvYD.style-mgvYD {  
       color: rgb(37, 38, 39) !important;  
        cursor: pointer;  
    }  
    #style-tC6ly.style-tC6ly {  
           float: left;  
    }  
    #style-xhvhP.style-xhvhP {  
       position: absolute;  
       bottom: 1px;  
       font-size: 10px;  
       background-color: #2f89ca;  
       color: white;  
       padding: 2px 10px;  
       right: 0px;  
    }  
    #style-tokkM.style-tokkM {  
       color: rgb(37, 38, 39) !important;  
        cursor: pointer;  
    }  
    #style-COp3Q.style-COp3Q {  
           float: left;  
    }  
    #style-oGlBW.style-oGlBW {  
       position: absolute;  
       bottom: 1px;  
       font-size: 10px;  
       background-color: #2f89ca;  
       color: white;  
       padding: 2px 10px;  
       right: 0px;  
    }  
       
    /* Column 3/12 */
   #style-ULjVO .padngbox{
       min-height:50px;
       height:50px;
       justify-content:center;
      }
      
      /* Column 3/12 */
      #style-mgvYD .padngbox{
       min-height:5px;
       height:50px;
       justify-content:center;
      }
      
      /* Column 3/12 */
      #style-tokkM .padngbox{
       min-height:50px;
       height:50px;
       justify-content:center;
      }
      
      /* Column 12/12 */
      .bg-light .snipcss-LolCx .mb-15{
       padding-bottom:7px;
       padding-top:3px;
      }
      
      /* Snipcss dolr */
      .bg-light .snipcss-ADolR{
       margin-bottom:7px;
      }
      
   /* Snipcss */
   .bg-light .snipcss-xJBZh{
       margin-bottom:7px;
      }
      
         