/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
# Environment configuration
**/.env

/public/home-assets/
public/home-assets/
/public/meeting-data/
/public/meeting-data/
/public/imgs/
/public/imgs/
*.zip
*.mp4
*.iso
*.tar.gz
/public/partner-api/
partner/partner-api/

prarang.in