/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    font-family: "DM Sans", sans-serif !important;
}

.bs5-logo-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.bs5-logo-tagline {
    font-size: 15px;
    font-weight: 700;
}

.bs5-logo-image {
    width: 135px;
}
header {
    margin: 0px;
    padding: 0px;
}
.bs5-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center !important;
    text-align: center;
}
.bs5-hcolor-box {
    display: flex;
    padding-left: 12px;
    width: 97% !important;
}
.bs5-color-1,
.bs5-color-2,
.bs5-color-3,
.bs5-color-4,
.bs5-color-5,
.bs5-color-6 {
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

.bs5-color-1 {
    background: #1055cd;
}
.bs5-color-2 {
    background: #ffff00;
}

.bs5-color-3 {
    background: #ff0000;
}

.bs5-color-4 {
    background: #ffff99;
}

.bs5-color-5 {
    background: #bbff33;
}

.bs5-color-6 {
    background: #009933;
}

nav ul li a {
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center !important;
    text-align: center;
    background: #eceeee;
    height: 30px;
    font-weight: 500;
}
nav ul li a:hover {
    background: #bec4c4;
    font-weight: 600;
}

header .navbar-toggler {
    background: #eceeee;
    border: none;
    border-radius: 0px;
    /* height:30px; */
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.bs5-shapes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center !important;
    text-align: center;
}
.bs5-semiotics {
    width: 200px;
    position: absolute;
    left: 330px;
    top: 130px;
}

.bs5-top-heading {
    text-align: center;
}
.bs5-top-heading p:nth-child(1) {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
}
.bs5-top-heading p:nth-child(2) {
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    top: -21px;
}

.bs5-about-ac-btn {
    font-size: 20px;
    font-weight: 700;
    background: #eceeee !important;
    margin-bottom: 10px;
}

footer {
    background: #eceeee;
    margin-top: 50px;
}
.footer-design a {
    text-decoration: none !important;
    padding-top: 10px !important;
    color: #1055cd;
}
.footer-design a:hover {
    font-weight: 600;
}
footer p {
    font-size: 12px;
}
.bs5-top-bar-planner {
    padding: 10px;
}
/* Dropdown menu buttonx */
#dropdownMenuButtonx {
    cursor: progress;
}

/* Small devices (landscape phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Medium devices (tablets, less than 768px) */
@media (max-width: 767.98px) {
    nav ul li a {
        justify-content: flex-start;
        padding-left: 20px;
        font-weight: 600;
    }
    .bs5-semiotics {
        width: 150px;
        position: absolute;
        left: 30px;
        top: 420px;
    }
}

.planner-div a {
    font-weight: 700;
}
/* Full */
.mx-auto .flex-wrap .w-full {
    border-radius: 20px !important;
}
@media (max-width: 576px) {
    /* Justify center */
    .container .justify-center {
        flex-direction: column;
        justify-content: flex-start;
        align-items: normal;
    }

    /* Heading */
    .container .justify-center h4 {
        text-align: center;
        font-size: 16px;
    }

    /* Small Tag */
    .container .justify-center small {
        text-align: justify !important;
    }

    /* Paragraph */
    .container section p {
        text-align: justify;
    }
}
@media (max-width: 576px) {
    /* Paragraph */
    .container .bs5-top-heading p {
        text-align: center;
    }
}

.bs5-top-heading p:nth-child(1) {
    font-size: 24px;
}
