/* Paragraph */
.first-prompt .firstPrompt p{
 text-align:center;
 font-size:30px;
 font-weight:700;
}

/* Main title heading */
.main-title-heading{
 font-size:25px;
 margin-bottom:0px;
}

/* Prompt section */
.container .pr-ai-section .prompt-section{
 display:grid;
 flex-direction:row;
 justify-content:center;
 align-items:center;
 grid-template-columns:90% 10%;
 align-content:center;
 column-gap:16px;
 padding-top:0px !important;
 padding-bottom:2px !important;
}

/* Image */
.prompt-section div img{
 width:101px;
}



/* Text Area */
textarea{
 border-style:none;
}

/* Prompt section */
.container .pr-ai-section .prompt-section{
 margin-left:138px;
 margin-right:145px;
 margin-top:44px;
}

/* Paragraph */
.first-prompt .firstPrompt p{
 margin-top:22px;
}


/* Menu */
#categoryTabs{
 position:sticky;
 top:8px;
}
/* Span Tag */
.space-y-4 .items-center .items-center > span{
 display:flex;
 flex-direction:column;
}

/* Items center */
.space-y-4 .items-center .items-center{
 display:flex;
 align-items:center;
 margin-bottom:4px;
 padding-bottom:2px;
 /* border-bottom-style:solid; */
 border-bottom-style:groove;
}

/* Image */
.space-y-4 .items-center img{
 width:30px;
 height:30px;
 margin-right:8px;
 margin-left:8px;
}

/* Span Tag */
.pr-ai-section .items-center .items-center:nth-child(1) span:nth-child(2){
 font-size:12px;
 font-weight:600;
}

/* Span Tag */
.space-y-4 span span{
 font-weight:500;
 font-size:16px;
 position:relative;
 top:0px;
}

/* Span Tag */
.pr-ai-section .items-center:nth-child(2) span:nth-child(2){
 font-size:12px;
}

/* Span Tag */
.pr-ai-section .items-center:nth-child(3) span:nth-child(2){
 font-size:12px;
}

/* Span Tag */
.pr-ai-section .items-center:nth-child(4) span:nth-child(2){
 font-size:12px;
}

/* Items center */
.container .pr-ai-section .row .col-sm-4 .id-selector form div .space-y-4 .items-center .items-center{
 border-bottom-width:1px !important;
}

/* Main title heading */
.main-title-heading{
 font-weight:700;
}

/* Paragraph */
.first-prompt .firstPrompt p{
 font-weight:500;
}

/* Dfggsgzrf */
#dfggsgzrf{
 background-color:rgba(0,0,0,0.03);
 border-top-left-radius:10px;
 border-top-right-radius:10px;
 border-bottom-left-radius:10px;
 border-bottom-right-radius:10px;
}

/* Col 4 */
.pr-ai-section > .row .col-sm-4{
 position:sticky;
 top:2px;
}


/* Span Tag */
.first-prompt .firstPrompt span{
 cursor:pointer;
}

/* Col 4 */
.pr-ai-section > .row .col-sm-4{
 position:relative;
 top:32px;

}

/* Division */
.id-selector form > div{
 position:sticky;
 top:22px;
 z-index:14;
}

/* Selector */
.pr-ai-section .id-selector{
 position:sticky;
 top:10px;
}

/* Paragraph */
#dfggsgzrf .mb-2 p{
 text-align:justify;
}

/* Span Tag */
.list-group .list-group-item span{
 font-size:13px;
}

/* List Item */
.sourcedat .list-group li{
 padding-top:1px;
 /* transform:translatex(0px) translatey(0px); */
 padding-bottom:1px;
}

/* Link */
.id-selector div a{
 text-decoration:none!important;
}

                  .firstPrompt .btn {
                        min-width: 150px;

                    }

                    /* Flex */
                    .first-prompt .firstPrompt .d-flex {
                        flex-direction: column;
                        transform: translatex(0px) translatey(0px);
                    }

                    /* Button */
                    .first-prompt .d-flex .btn {
                        width: 250px;
                        min-width: 1px;
                        padding-bottom: 0!important;
                    }
/* Small Tag */
.d-flex .btn small{
 position:relative;
 top:-12px;
 font-size:12px;
}

/* Image */
.first-prompt .firstPrompt img{
 width:50px;
 margin-left:19px;
 border-top-left-radius:10px;
 border-top-right-radius:10px;
 border-bottom-left-radius:10px;
 border-bottom-right-radius:10px;
}

/* Text center */
.first-prompt .firstPrompt .text-center{
 margin-top:20px;
 display:flex;
 flex-direction:row;
 justify-content:center;
 align-items:center;
}

/* Image (hover) */
.first-prompt .firstPrompt img:hover{
 box-shadow:0px 0px 10px 0px #35353f;
}

/* Image */
.first-prompt .firstPrompt img{
 cursor:pointer;
}

/* Form check label */
#categoryModal  .mb-2 .form-check-label{
 display:flex;
 flex-direction:column;
}

/* Span Tag */
#categoryModal  .mb-2 span{
 font-size:11px;
 text-transform:capitalize;
}

/* Heading */
#geographyModal .modal-body h6{
 padding-left:9px;
}

/* Select location */
.first-prompt .firstPrompt .select-location{
 display:flex;
 grid-template-columns:90% 10%;
 justify-content:center;
 align-items:center;
}

/* Select location */
.container .pr-ai-section .first-prompt .firstPrompt .firstPrompt .main-button-area .select-location{
 grid-template-columns:90% 10% !important;
}

/* Arrow */
.first-prompt .firstPrompt .arrow{
 display:flex;
 align-items:center;
 justify-content:center;
}

/* Select category */
.first-prompt .firstPrompt .select-category{
 display:flex;
 align-items:center;
 justify-content:center;
}

/* Select prompt */
.first-prompt .firstPrompt .select-prompt{
 display:flex;
 align-items:center;
 justify-content:center;
}

/* Select location */
.first-prompt .firstPrompt .select-location{
 margin-bottom:7px;
}

/* Select category */
.first-prompt .firstPrompt .select-category{
 margin-top:5px;
 margin-bottom:5px;
}

/* Division */
.main-button-area .select-location div{
 margin-left:32px;
}

/* Division */
.main-button-area .select-category div{
 margin-left:32px;
}

/* Button */
.select-location div .btn-lg{
 min-width:2px;
 width:200px;
 height: 60px;
}



/* Button */
.select-category div .btn-lg{
 min-width:1px;
 width:200px;
 height: 60px;
}

/* Small Tag */
.select-category div small{
 font-size:13px;
 position:relative;
 top:-12px;
}

/* Category count */
#category-count{
 top:-93px !important;
}

/* Small Tag */
.select-location div small{
 font-size:13px;
 position:relative;
 top:-12px;
}

/* Arrow */
.first-prompt .firstPrompt .arrow{

 height:50px;
}

/* Division */
.main-button-area .arrow div{
 width:200px;
 height:60px;
 margin-left:0px;

}

/* Division */
.main-button-area .arrow div:nth-child(2){
 width:55px;
}

/* Paragraph */
.main-button-area div p{
 margin-top:0px !important;
 margin-bottom:2px;
}

/* Section */


/* Select category */
.first-prompt .firstPrompt .select-category{
 margin-top:0px;
 position:relative;
 top:-10px;
}

/* Select location */
.first-prompt .firstPrompt .select-location{
 margin-bottom:0px;
}



/* Division */
.main-button-area .select-prompt > div{
 display:flex;
 align-items:center;
}

/* Division */
.main-button-area .arrow div{
 width:113px !important;
}

/* Span Tag */
.select-location div span{
 padding-left:10px !important;
}

/* Count box */
.select-category div .count-box{
 padding-left:10px !important;
}

/* Count box */
.select-location div .count-box{
 padding-left:5px !important;
}
/* Category count */
#category-count{
 padding-left:12px !important;
 padding-right:9px !important;
}

/* Division */
.main-button-area .select-prompt > div{
 flex-direction:column;
 justify-content:center;
 transform:translatex(0px) translatey(0px);
 width:200px;
}

/* Text center */
.select-prompt div .text-center{
 margin-top:0px !important;
 font-size:18px;
 font-weight:600;
}

/* Division */
.main-button-area .select-prompt div:nth-child(2){
 width:101px;
 padding-left:14px;
}

/* Image */
.select-prompt div img{
 width:79px !important;
 margin-left:33px !important;
}

/* Paragraph */
#categoryModalLabel small p{
 color:#020202 !important;
 font-size:16px;
}

/* Button */
.select-prompt div a{
 width:200;
 min-width:100px !important;
 /* margin-left:39px; */
 /* color:#020202; */
 font-weight:600;
}

/* Paragraph */
.main-button-area div p{
 margin-bottom:0px;
 position:relative;
 top:-1px;
}

/* Arrow */
.first-prompt .firstPrompt .arrow:nth-child(4){
 position:relative;
 top:-9px;
}

/* Select prompt */
.first-prompt .firstPrompt .select-prompt{
 transform:translatex(0px) translatey(0px);
 position:relative;
 top:-21px;
}

/* Button */
.select-category div .btn-lg{
 font-size:16px;
 font-weight:600;
}

/* Button */
.select-location div .btn-lg{
 font-size:16px;
 font-weight:600;
}


/* Button */
.select-prompt div a{
 display:flex;
 align-items:center;
 justify-content:center;
 transform:translatex(0px) translatey(0px);
 width:364px;
 margin-left:146px;
}

/* Button */
.select-prompt div a{
 margin-left:0px;
 min-width:2px !important;
 width:200px;
 height:58px;
}

/* Button */
.select-prompt div a{
 margin-right:7px;
}



/* Rounded */
.pr-ai-section .col-sm-8 .rounded:nth-child(1){
 font-style:italic;
  font-style:normal;
 color:#020202;
 background-color:rgba(0,0,0,0.08) !important;
 margin-left:0px !important;
 margin-right:0px !important;
 margin-top:0px !important;
 margin-bottom:8px !important;
 border-top-left-radius:10px !important;
 border-top-right-radius:10px !important;
 border-bottom-left-radius:10px !important;
 border-bottom-right-radius:10px !important;
 border-style:solid;
 border-width:1px;
 border-color:rgba(0,0,0,0.31) !important;
}

/* Division */
.pr-ai-section .prompt-section div{
 float:right;
}

/* Small Tag */
.prompt-section div small{
 float:right;
 padding-right:11px;
 color:#0c4f4f;
 font-weight:600;
 letter-spacing:0.6px;
 font-size:13px;
}

.accordion-collapse .accordion-body .col-6{
 display:grid;
 flex:0 0 auto;
}

 .accordion-collapse .accordion-body .row .col-6{
 grid-template-columns:auto 1fr !important;
}
/* Division */
.accordion-collapse .accordion-body > div{
 margin-bottom:6px;
 background-color:rgba(0,0,0,0.02);
}

/* Division */
.accordion-collapse  .accordion-body > div:nth-child(1){
 font-size:16px;
 border-bottom-style:solid;
 margin-bottom:14px;
 padding-left:17px;
}

/* Division */
 .accordion-collapse  .accordion-body > div:nth-child(1){
 border-bottom-width:1px !important;
}

/* Heading */
#accordionCitiesCountries h5{
 font-size:16px;
 margin-bottom:4px !important;
}

/* Accordion button (hover) */
.accordion-button:hover{
 background-color:#e0e0e0;
}

/* Accordion button (active) */
 .accordion-button:active{
 background-color:#d0d0d2;
}

/* Accordion button */
.accordion-button{
 background-color:#edecec;
}

/* Cities count */
#citiesCount{
 padding-left:13px !important;
 padding-right:13px !important;
 padding-top:8px;
}

/* Com chat */
#dfggsgzrf .com-chat{
 text-align:justify;
 font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;
}

/* Rounded */
.pr-ai-section .col-sm-8 .rounded{
 font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;
}

/* Paragraph */
#dfggsgzrf .mb-2 p{
 font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;
 font-size:15px;
 word-spacing:1px;
 line-height:1.5em;
}

/* Explore more insites */
#dfggsgzrf .ExploreMoreInsites{
 padding-left:5px;
 padding-right:5px;
 padding-top:5px;
 padding-bottom:5px;
 background-color:#ffffff;
 border-top-left-radius:8px;
 border-top-right-radius:8px;
 border-bottom-left-radius:8px;
 border-bottom-right-radius:8px;
}

/* Table Data */
.table-striped tr td{
 font-size:14px;
}

/* Th */
.table-striped tr th{
 font-size:14px;
}

/* Heading */
#dfggsgzrf .border-info h6{
 color:#020202 !important;
}

/* Com chat */
#dfggsgzrf .com-chat{
 font-size:15px;
}

/* Heading */
#dfggsgzrf .sourcedat h6{
 margin-bottom:0px;
}

/* Span Tag */
.list-group .list-group-item span{
 color:#635454;
}

/* Explore more insites */
#dfggsgzrf .ExploreMoreInsites{
 margin-top:19px !important;
}

/* Paragraph */
#dfggsgzrf .ExploreMoreInsites p{
 padding-left:5px;
}

/* Border info */
#dfggsgzrf .border-info{
 margin-top:13px !important;
}

/* Th */
#dfggsgzrf tr th{
 display:table-cell;
}

/* Span Tag */
#dfggsgzrf tr span{
 display:flex;
 font-weight:400;
 font-size:12px;
 line-height:1em;
}

/* Paragraph */
#dfggsgzrf .border-info p{
 font-size:12px;
}

/* Paragraph */
#dfggsgzrf .mb-2 p{
 font-weight:300;
}

/* Warning chat */
#dfggsgzrf .warning-chat{
 font-size:14px;
 font-style:italic;
 text-align:justify;
}

/* Com chat */
#dfggsgzrf .com-chat{
 margin-bottom:7px;
}

/* Text muted */
.pr-ai-section .text-muted{
 text-decoration:none;
}

/* Text muted */
.pr-ai-section .rounded:nth-child(1) .text-muted{
 margin-bottom:0px;
 font-size:14px;
 position:relative;
 top:17px;
}

/* Rounded */
.pr-ai-section .col-sm-8 .rounded{
 padding-bottom:17px !important;
}

/* Main title heading */
.container div .main-title-heading{
 margin-top:13px;
}



/* Heading */
.first-prompt .firstPrompt h5{
 margin-bottom:0px;
}

/* First prompt */
.pr-ai-section .first-prompt > .firstPrompt{
 margin-bottom:1px !important;
}




/* Main button area */
.first-prompt .firstPrompt .main-button-area{
 position:relative;
 top:-30px;
}

/* Prompt section */
.container div .prompt-section{
 position:relative;
 top:-40px;
}

@media (max-width:767px){

 /* Table striped */
 #dfggsgzrf .table-striped{
  overflow:scroll;
 }

 /* Border info */
 #dfggsgzrf .border-info{
  overflow:scroll;

 }

 /* Table Data */
 .table-striped tr td:nth-child(1){
  position:sticky;
  left:-15px;
 }

}
@media (max-width:767px){

 /* Main title heading */
 .container div .main-title-heading{
  font-size:19px;
 }

 /* Division */
 .main-button-area .select-location div{
  margin-left:0px !important;
 }

 /* Division */
 .main-button-area .select-category div{
  display:flex;
  align-items:center;
  margin-left:1px !important;
 }

 /* Cities count */
 #citiesCount{
  padding-right:8px !important;
  padding-left:7px !important;
 }

 /* Prompt section */
 .container div .prompt-section{
  margin-right:8px !important;
  margin-left:8px !important;
  margin-top:20px !important;
 }

 /* Small Tag */
 .prompt-section div small{
  font-size:10px !important;
  font-weight:500 !important;
 }

 /* Prompt section */
 .container div .container .pr-ai-section .prompt-section{
  grid-template-columns:86.05fr 10fr !important;
 }

 /* Image */
 .prompt-section div img{
  width:70px !important;
  height:47px;
 }

 /* Heading */
 .first-prompt .firstPrompt h5{
  font-size:18px;
 }

 /* Button */
 .select-category div .btn-lg{
  left:-1px;
 }

 /* Button */
 .select-prompt div a{
  position:relative;
  left:-5px;
 }

 /* List Item */
 #categoryTabs li{
  font-size:14px;
  line-height:1.8em;
 }

 /* Label */
 #content-e_govs .mb-2 label{
  font-size:11px;
 }

 /* Modal header */
 #categoryModal .modal-dialog .modal-header{
  padding-bottom:6px;
 }

 /* Menu */
 #categoryTabs{
  width:60px;
 }

}
@media (max-width:767px){

 /* Division */
 .main-button-area .select-category div{
  width:150px;
  transform:translatex(0px) translatey(0px);
 }

 /* Division */
 .main-button-area .select-location div{
  width:150px;
 }

 /* Division */
 .main-button-area .arrow div{
  width:113px;
 }

 /* Button */
 .select-location div .btn-lg{
  min-width:1px !important;
  width:150px !important;
  font-size:14px !important;
 }

 /* Small Tag */
 .select-location div small{
  top:-6px !important;
  margin-top:3px;
 }

 /* Small Tag */
 .container div .container .pr-ai-section .first-prompt .firstPrompt .firstPrompt .main-button-area .select-location div .btn-lg small{
  bottom:auto !important;
 }

 /* Button */
 .select-category div .btn-lg{
  font-size:14px !important;
 }

 /* Small Tag */
 .select-category div small{
  margin-top:7px;
  top:-6px !important;
  left:1px;
 }

 /* Small Tag */
 .container div .container .pr-ai-section .first-prompt .firstPrompt .firstPrompt .main-button-area .select-category div .btn-lg small{
  bottom:auto !important;
 }

 /* Button */
 .first-prompt .firstPrompt .firstPrompt .main-button-area .select-prompt div .text-center a{
  min-width:1px !important;
 }

 /* Button */
 .select-prompt div a{
  width:150px !important;
 }

 /* Select prompt */
 .first-prompt .firstPrompt .select-prompt{
  margin-left:-30px;
 }

 /* Division */
 .main-button-area .select-category div:nth-child(2){
  padding-left:16px;
 }

 /* Division */
 .main-button-area .select-prompt > div{
  padding-left:0px !important;
  width:103px !important;
 }

 /* Division */
 .main-button-area .select-prompt > div:nth-child(1){
  width:174px;
 }

 /* Image */
 .pr-ai-section .first-prompt .firstPrompt .firstPrompt .main-button-area .select-prompt div img{
  margin-left:46px !important;
 }

}
@media (max-width:767px){

 /* Italic Tag */
 .main-button-area p i{
  position:relative;
  left:-20px;
  top:2px;
 }

}
@media (max-width:767px){

 /* Italic Tag */
 .main-button-area p i{
  position:relative;
  left:-20px;
  top:2px;
 }

 /* Paragraph */
 #dfggsgzrf .mb-2 p{
  font-weight:400 !important;
 }

 /* Th */
 .table-striped tr th{
  font-weight:500;
  font-size:14px !important;
 }

 /* List Item */
 .sourcedat .list-group li{
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
 }

 /* Row */
 #dfggsgzrf .ExploreMoreInsites ul{
  flex-direction:column;
  display:grid;
  grid-template-columns:50% 50%;
 }

 /* Row */
 .container div .container .pr-ai-section .row .col-sm-8 #outChat #dfggsgzrf .ExploreMoreInsites ul{
  grid-template-columns:50% 1fr !important;
 }

 /* Column 4/12 */
 .container div .container .pr-ai-section .row .col-sm-8 #outChat #dfggsgzrf .ExploreMoreInsites .row li{
  width:100% !important;
 }

}
/* Span Tag */
#content-e_demos .pb-3 span{
 top:11px;
}

@media (max-width:767px){

 /* Form check */
 #content-e_demos .mb-2 .form-check{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:flex-start;
 }

 /* Label */
 #content-e_demos .mb-2 label{
  position:relative;
  top:2px;
  padding-left:5px;
 }

}
/* Column 12/12 */
.tab-pane .pb-3{
 padding-bottom:15px !important;
 margin-top:-28px;
 margin-bottom:8px;
}


/* Label */
.tab-pane .mb-2 label{
 position:relative;
 top:0px;
 padding-left:8px;
}

/* Form check */
.tab-pane .mb-2 .form-check{
 display:flex;
 align-items:center;
 justify-content:flex-start;
}

/* Input */
.tab-pane .mb-2 input[type=checkbox]{
 border-color:#5b5b5b;
}

.accordion-body .row .col-6 input[type=checkbox]{
 border-color:#595959;
}

/* Button */
.first-prompt .text-end a{
 min-width:76px;
 width:76px;
}

/* Text end */
.first-prompt .firstPrompt .text-end{
 margin-top:4px;
 margin-bottom:0px;
 position:relative;
 top:-50px;
}

/* Col 8 */
.first-prompt .firstPrompt .col-sm-8{
 position:relative;
 top:-20px;
}

/* Prompt section */
.container div .prompt-section{
 top:-50px !important;
}

/* Prompt section */
.container div .container .pr-ai-section .prompt-section{
 bottom:auto !important;
}

@media (min-width:768px){

 /* Prompt section */
 .container div .prompt-section{
  margin-top:31px !important;
 }

}

/* Text end */
.first-prompt .firstPrompt .text-end{
 padding-right:22px;
}

/* Division */
.first-prompt .firstPrompt .row .col-sm-2 div{
 display:flex;
 flex-direction:column;
 flex-wrap:nowrap;
 align-items:center;
 justify-content:center;
}

/* Button */
.firstPrompt .row .col-sm-2 div a{
 margin-bottom:3px;
}

@media (max-width:767px){

 /* Division */
 .first-prompt .firstPrompt .row .col-sm-2 div{
  display:none !important;
 }

 /* Button */
 .first-prompt .text-end a{
  font-size:12px;
  min-width:4px !important;
  width:40px !important;
 }

}

@media (min-width:768px){

 /* Small Tag */
 .select-location div small{
  top:-7px !important;
 }

 /* Small Tag */
 .container div .container .pr-ai-section .first-prompt .firstPrompt .row .col-sm-8 .firstPrompt .main-button-area .select-location div .btn-lg small{
  bottom:auto !important;
 }

 /* Small Tag */
 .select-category div small{
  top:-8px !important;
 }

 /* Small Tag */
 .container div .container .pr-ai-section .first-prompt .firstPrompt .row .col-sm-8 .firstPrompt .main-button-area .select-category div .btn-lg small{
  bottom:auto !important;
 }

}

/* Text danger */
.container div .container .pr-ai-section .first-prompt .firstPrompt .row .col-sm-8 .firstPrompt .main-button-area .select-location div .text-danger{
 bottom:auto !important;
}

/* Text danger */
.select-location div .text-danger{
 font-size:13px;
 font-weight:500;
}

@media (min-width:768px){

 /* Text danger */
 .select-location div .text-danger{
  margin-top:5px;
  top:-3px !important;
 }

}

/* Items center */
.space-y-4 .items-center .items-center{
 flex-direction:row;
 display:grid !important;
 column-gap:6px;
 transform:translatex(0px) translatey(0px);
}

/* Items center */
.container div .container .pr-ai-section .row .col-sm-4 .id-selector form div .space-y-4 .items-center .items-center{
 grid-template-columns:10% 10% 50% 10% 10% !important;
}

/* Inline block */
.space-y-4 .items-center .d-inline-block{
 display:flex !important;
 justify-content:center;
 align-items:center;
 padding-left:4px !important;
 padding-right:4px !important;
 width:20px;
 height:20px;
 border-radius:50px;
 /* border-top-right-radius:50px; */
 color: white!important;
 background: #000;
}

/* Heading */
.first-prompt .firstPrompt h5{
 margin-bottom:14px !important;
}

/* First prompt */
.pr-ai-section .first-prompt > .firstPrompt{
 position:relative;
 top:-20px;
}

/* Paragraph */
#popupregister .mb-3 p{
 font-size:12px;
 text-align:right;
 margin-top:4px;
}
/* First prompt */
.pr-ai-section .first-prompt > .firstPrompt{
 top:16px !important;
}

/* First prompt */
.container div .container-fluid .row .position-relative .pr-ai-section .first-prompt > .firstPrompt{
 bottom:auto !important;
}

/* Border dark */
.d-lg-block div .border-dark{
 padding-left:1px !important;
 padding-right:1px !important;
 padding-top:0px !important;
 padding-bottom:8px !important;
 margin-bottom:20px;
 margin-left:33px;
}

/* Text primary */
li > .text-primary{
 text-decoration:none;
 font-size:15px;
}

/* List Item (hover) */
.d-lg-block ul li:hover{
 font-weight:500;
}

/* Text gray */
.d-lg-block ul .text-gray{
 color:#0000ff;
 text-decoration:none;
 font-size:15px;
}

/* List Item */
.d-lg-block ul li{
 margin-bottom:2px;
}

/* Text primary */
li:nth-child(3) > .text-primary:nth-child(1){
 display:flex;
}

@media (max-width:576px){

 /* Small Tag */
 .pr-ai-section > .text-center small{
  position:relative;
  top:-50px;
 }

}

@media (min-width:768px){

 /* Prompt section */
 .container div .prompt-section{
  margin-right:15px !important;
  margin-left:15px !important;
 }

}

/* Items center */
.container div .container-fluid .row .position-relative .pr-ai-section .row .col-sm-4 .id-selector form div .space-y-4 .items-center .items-center{
 grid-template-columns:10% 10% 60% 20% !important;
}

/* Row */
.position-relative .pr-ai-section > .row{
 grid-template-columns:10% 10% 60% 20%;
}

/* Paragraph */
.pr-ai-section .id-selector p{
 font-weight:600;
}

